# React Native SDK
* @embrace-io/opensource-react-native

# DevOps
.github @embrace-io/opensource-devops @embrace-io/opensource-react-native

# API Surface Owners
src/embrace.ts @fractalwrench @fnewberg
