<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>SgNw5</string>
	<key>CRASH_REPORT_ENABLED</key>
	<true/>
	<!-- <key>DATA_BASE_URL</key>
	<string>http://192.168.0.178:9999/api</string>
	<key>DATA_DEV_BASE_URL</key>
	<string>http://192.168.0.178:9999/api</string>
	<key>IMAGES_BASE_URL</key>
	<string>http://192.168.0.178:9999/api</string>
	<key>TEST_BASE_URL</key>
	<string>http://192.168.0.178:9999/api</string> 
	<key>CONFIG_BASE_URL</key>
	<string>http://192.168.0.178:9999/api</string>-->
</dict>
</plist>
