<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>API_KEY</key>
    <string>abcdf</string>
    <key>CRASH_REPORT_ENABLED</key>
    <true/>
    <key>CONFIG_BASE_URL</key>
    <string>http://localhost:8877</string>
    <key>DATA_BASE_URL</key>
    <string>http://localhost:8877</string>
    <key>DATA_DEV_BASE_URL</key>
    <string>http://localhost:8877</string>
    <key>IMAGES_BASE_URL</key>
    <string>http://localhost:8877</string>
    <key>TEST_BASE_URL</key>
    <string>http://localhost:8877</string>
  </dict>
</plist>