name: Android Unit Tests

on:
  push:
    branches: [main]
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Enables corepack
        run: corepack enable

      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changed_files
        with:
          list-files: shell
          filters: |
            android:
            - 'packages/**/gradle.properties'
            - 'packages/**/*.gradle'
            - 'packages/**/*.kt'
            - 'packages/**/*.java'

      - name: Install Root Node Modules
        run: yarn install
        if: steps.changed_files.outputs.android == 'true'

      - uses: actions/setup-java@v5
        if: steps.changed_files.outputs.android == 'true'
        with:
          distribution: "adopt"
          java-version-file: ".java-version"

      - name: Run Android Unit Tests
        if: steps.changed_files.outputs.android == 'true'
        run: yarn run android:test $(./scripts/scopes-from-file-changes.ts ${STEPS_CHANGED_FILES_OUTPUTS_ANDROID_FILES})
        env:
          STEPS_CHANGED_FILES_OUTPUTS_ANDROID_FILES: ${{ steps.changed_files.outputs.android_files }}
