name: Integration Tests

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  pull-requests: read

jobs:
  build:
    if: ${{ startsWith(github.head_ref, 'release/') || startsWith(github.head_ref, 'embrace-ci/') }}
    strategy:
      fail-fast: false
      matrix:
        test-app: [expo-rn74, rn79, rn78, rn77, rn76, rn75, rn74, rn73, rn72, rn71]
        platform: [android, ios]

    runs-on: ${{ matrix.platform == 'ios' && 'macos-latest' || 'ubuntu-latest' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Enables corepack
        run: corepack enable

      - name: Install Root Node Modules
        run: yarn install

      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version-file: ".java-version"
        if: matrix.platform == 'android'

      - name: Install Integration Tests Node Modules
        working-directory: ./integration-tests
        run: npm install

      - name: Build Test App
        working-directory: ./integration-tests
        run: ./build-test-app.sh ${{ matrix.test-app }} ${{ matrix.platform }} namespace-${{ matrix.test-app }}-${{ matrix.platform }}-${{ github.run_id }}

      - name: Run Integration Tests
        working-directory: ./integration-tests
        run: npm run test-remote
        env:
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          BROWSERSTACK_APP_NAME: ${{ matrix.test-app }}
          BROWSERSTACK_PLATFORM: ${{ matrix.platform }}
          CI_RUN_ID: ${{ github.ref_name }}.${{ github.sha }}
          CI_GIT_REF: ${{ github.ref_name }}
